<html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">


<br><br>
<form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="user" id="user" pattern="[a-z0-9]+" placeholder="Enter username only alphanumeric with no uppercase" required>
    <label for="password">password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password minimum lentgh 8" required>
    <label for="shell">shell</label>
    <input type="text" class="form-control" name="shell" id="shell" placeholder="Enter shell" required>
    <label for="home">homedir</label>
    <input type="text" class="form-control" name="home" id="home" placeholder="Enter home directory">
    <label for="sudo">sudo</label>
    <input type="radio" class="form-control" name="sudo" id="sudo" value="yes">Yes
    <input type="radio" class="form-control" name="sudo" id="sudo" value="no">No
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>

</body>
</html>
